<div class="card align-items-center justify-content-center vh-100 vw-100 overflow-hidden">
  <img class="card-img img-fluid" src="../../../assets/imagens/landing-background.png" alt="background-image" />
  <div class="card-img-overlay d-flex flex-wrap align-items-center justify-content-center">
    <div class="card rounded-0 main-card">
      <div class="card-body d-flex align-items-center justify-content-center flex-column">
        <img class="logo-img" src="../../../assets/icons/cliodinamica-color-logo.svg" alt="cliodinamica-color-logo">
        <p class="title-card m-0">Identifícate</p>
        <p class="subtitle-card m-0">Inicia sesión con google</p>
        <button class="btn border mt-3" [routerLink]="['/home']" routerLinkActive="router-link-active" >
          <img src="../../../assets/icons/google-logo.svg" alt="google-logo">
        </button>
        <div class="input-group mt-3 flex-row align-items-center justify-content-center pb-5">
          <input type="checkbox"/>
          <label class="m-0 ml-1">Recordarme</label>
        </div>
      </div>
    </div>
  </div>
</div>